body {  
      background-color: blue;
    color: brown;
    font-family: sans-serif;
    margin: 0px;

}
header {
     border-bottom: solid 5px rgb(194, 40, 99);
     padding: 20px;
     font-size: 32px;
     color: rgb(42, 122, 228);
}
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}


