body {  
      background-color: rgb(174, 0, 255);
    color: rgb(42, 81, 165);
    font-family: sans-serif;
    margin: 0px;

}
header {
     border-bottom: solid 5px rgb(194, 40, 99);
     padding: 25px;
     font-size: 30px;
     color: rgb(70, 188, 209);
}
h1 {
    font-size: 30px;
}
p {
    font-size: 25px;
}


